@font-face {
    font-family: myFirstFont;
    src: url(JosefinSans-Bold.ttf);
}

p {
	
	color: red;
	font-family: myFirstFont;
}
* {
	margin: 0;
	padding: 0;
}
	#menu {
	opacity:0.8;
	}
	#menu ul {
	margin-left: 200px;
	}
	#menu ul li {
	margin-top: 13px;
	
	}
	
	#menu ul li a {
	color: white;
	font-family: myFirstFont;
	font-size: 19px;
	
	}