@CHARSET "UTF-8";

@media screen and (min-width: 1px) and (max-width: 700px) {
	
	/****MENU*****/
	#a {
	margin-top: -50px;
	}
	
#panel {
		padding: 5px;
		text-align: center;
		border: solid 1px #c3c3c3;
		padding: 28px;
		display: none;
		height: 157px;
	}
	
	#panel li {
		list-style-type: none;
		float: none;
		padding: 0px;
	}
	#panel li a {
		border-bottom: 2px solid black;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		font-family: Helvetica;
	}
	
	#panel li a:hover {
		color: white;
		height: 27px;
		margin-top: -10px;
		background-color: black;
	}
	#panel ul li a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #dedede;
		color: #333333;
	}
	#panel ul {
		margin-left: -29px;
		margin-right: -28px;
		margin-top: -30px;
		margin-bottom: -30px;
	}
	
	#flip {
    
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
	.content-main{
	
	margin-top: 200px;
	
}
	#menu {
	margin-top: -200px;
	}
	#flip {
	
	/*oculta o menu flip*/
	margin-top: 50px;
}
	
	
	.imagem{
	
	margin-top: 100px;
}

.title {
	
	
	
}
	}

